.menu {
    width: fit-content;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3.125rem;
    margin-right: 3.125rem;
    position: fixed;
    top: 0;
    z-index: 111111;
    user-select: none;
    background: transparent;
    color: white;
    mix-blend-mode: difference;

    @media screen and (max-width: 512px) {
        margin-top: 25px;
        margin-right: 25px;
    }

    &__button {
        display: flex;
        flex-direction: row;
        gap: .25rem;

        &:hover {
            cursor: pointer;
        }

        @media screen and (max-width: 760px) {
            z-index: 1;
        }
    }

    &__icon {
        width: 35px;
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 8px;
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 512px) {
            width: 25px;
            gap: 5px;
        }

        div {
            width: 65%;
            height: 0.25rem;
            border-radius: 999rem;
            background: currentColor;
            transition: all 0.3s cubic-bezier(0.1, 0.69, 0.41, 0.9);

            @media screen and (max-width: 512px) {
                height: 2px;
            }

            &:first-child {
                width: 100%;
                margin-bottom: -.25rem;

                @media screen and (max-width: 512px) {
                    margin-bottom: -2px;
                }
            }

            &:last-child {
                width: 45%;
                margin-top: -.25rem;

                @media screen and (max-width: 512px) {
                    margin-top: -2px;
                }
            }
        }

        &.open {
            gap: 0;

            div {
                background-color: #F0F0F0 !important;
            }
        }
    }

    &__overlay {
        background-color: #0d0d0d;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 50;

        opacity: 0;

        @media screen and (max-width: 512px) {
            display: none;
        }
    }

    &__container {
        padding: calc(40rem / 16) calc(50rem / 16);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media screen and (max-width: 512px) {
            padding: calc(20rem / 16) calc(25rem / 16);
        }
    }

    &__close {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        svg {
            cursor: pointer;
            transform: rotate(0deg);
            transition: ease-in-out 0.25s all;
            &:hover {
                transform: rotate(180deg);
                transition: ease-in-out 0.25s all;
            }
        }
    }

    &__sidebar {
        z-index: 100;
        width: 30%;
        height: 100vh;
        background-color: #0D0D0D;
        right: 0;
        position: fixed;

        @media screen and (max-width: 512px) {
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        @media screen and (max-width: 512px) {
            padding: 0 calc(25rem / 16);
        }
    }

    &__socials, &__contact {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 1.375rem;
            margin-bottom: 10px;
            color: #FAFAFA;
            opacity: 50%;

            @media screen and (max-width: 760px) {
                font-size: 14px;
            }
        }

        a {
            text-decoration: none;
            color: #FAFAFA;
            font-size: 1.65rem;
            transition: all ease-in-out 150ms;

            @media screen and (max-width: 760px) {
                font-size: 18px;
            }
            &:hover {
                color: #FAFAFA75;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 1.375rem;
            margin-bottom: 5px;
            color: #FAFAFA;
            opacity: 50%;

            @media screen and (max-width: 760px) {
                font-size: 16px;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #FAFAFA !important;
        opacity: 100% !important;
        font-size: 2rem !important;
        transition: all ease-in-out 150ms;
        cursor: pointer;

        @media screen and (max-width: 760px) {
            font-size: 22px !important;
        }

        &:hover {
            color: #FAFAFA75 !important;
        }
    }

    &__contact {
        gap: 0;
        span {
            margin-bottom: 5px;
        }

        @media screen and (max-width: 512px) {
            padding: 0 calc(25rem / 16);
        }
    }
}
