.menu {
    width: fit-content;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3.125rem;
    margin-right: 3.125rem;
    position: fixed;
    top: 0;
    z-index: 250;
    user-select: none;
    
    @media screen and (max-width: 760px) {
        &::before {
            pointer-events: all;
            content: '';
            position: absolute;
            z-index: 0;
            backdrop-filter: blur(1.5px);
            width: 100px;
            height: 100px;
            right: 0;
            top: -1.5625rem;
            border-bottom-left-radius: 100%;
        }        
    }

    @media screen and (max-width: 760px) {
        margin-top: calc(25rem / 16);
        padding-right: calc(25rem / 16);
    }

    &__text {
        font-weight: 600;
        line-height: 1;
        font-size: calc(26rem / 16);
        color: #0d0d0d;

        @media screen and (max-width: 760px) {
            display: none;
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        gap: .25rem;

        &:hover {
            cursor: pointer;
        }

        
        @media screen and (max-width: 760px) {
            z-index: 1;
        }
    }

    &__icon {
        width: 45px;
        height: fit-content;
        // aspect-ratio: 1/1;
        padding: 1rem 0;
        position: relative;

        span {
            width: 100%;
            height: 4px;
            background-color: #0d0d0d;
            display: block;
            margin-bottom: .45rem;
            transition: all ease-in-out .3s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.open {
            width: 45px;
            padding: 1.25rem 0;
            span {
                margin-bottom: 0;
                position: absolute;
            transition: all ease-in-out .3s;
                
                &:first-child {
                transform: rotate(45deg);
                }

                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__overlay {
        background-color: #0d0d0d;
        position: fixed;
        top: 0  ;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 50;

        opacity: 0;
        
        @media screen and (max-width: 512px) {
            display: none;
        }
    }

    &__container {
        padding: calc(40rem / 16) calc(50rem / 16);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media screen and (max-width: 512px) {
            padding: calc(20rem / 16) calc(25rem / 16);
        }
    }

    &__close {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        svg {
            cursor: pointer;
            transform: rotate(0deg);
            transition: ease-in-out 0.25s all;
            &:hover {
                transform: rotate(180deg);
                transition: ease-in-out 0.25s all;
            }
        }
    }
    
    &__sidebar {
        z-index: 100;
        width: 30%;
        height: 100vh;
        background-color: #FAFAFA;
        right: 0;
        position: fixed;

        @media screen and (max-width: 512px) {
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
        @media screen and (max-width: 512px) {
            padding: 0 calc(25rem / 16);
        }
    }

    &__socials, &__contact {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 1.375rem;
            margin-bottom: 10px;
            color: #0d0d0d;
            opacity: 50%;
        }

        a {
            text-decoration: none;
            color: #0d0d0d;
            font-size: 1.65rem;
            transition: all ease-in-out 150ms;

            &:hover {
                color: #0d0d0d75;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 1.375rem;
            margin-bottom: 5px;
            color: #0d0d0d;
            opacity: 50%;
        }

        a {
            text-decoration: none;
            color: #0d0d0d;
            font-size: 2rem;
            transition: all ease-in-out 150ms;

            &:hover {
                color: #0d0d0d75;
            }
        }
    }

    &__contact {
        gap: 0;
        span {
            margin-bottom: 5px;
        }
        
        @media screen and (max-width: 512px) {
            padding: 0 calc(25rem / 16);
        }
    }
}