* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#app {
    overflow: hidden;
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;

    &-xl {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        
        @media screen and (max-width: 512px) { 
            max-width: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    
    @media screen and (max-width: 512px) { 
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
}