.about {
    padding-top: calc(100rem / 16);

    @media screen and (max-width: 512px) {
        padding-top: calc(75rem/16);
    }

    .container {
        max-width: 1200px;
    }

    &__inner {
        margin-left: calc(550rem / 16);
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (max-width: 512px) {
            margin-left: 0;
            margin-right: 0;
        }

        h2 {
            font-size: 2.625rem;
            line-height: 1.35;
            letter-spacing: -2.5%;
            max-width: 70%;
            font-weight: 400;

            @media screen and (max-width: 512px) {
                font-size: 1.35rem;
                max-width: none;
            }
        }

        p {
            font-size: 1.5rem;
            line-height: 1.5;
            letter-spacing: -2.5%;
            font-weight: 400;
            opacity: 1;

            @media screen and (max-width: 512px) {
                font-size: 1rem;
                max-width: none;
            }
        }
    }
}
