.pageheader {
    height: 100vh;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
        content: url('/resources/svg/curve.svg');
        width: 100%;
        height: 0;
        bottom: 0;
        position: absolute;

        @media screen and (max-width: 1024px) {
            content: none;
        }
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 10%;
        background: radial-gradient(circle, #1BDDB185 0%, transparent 100%);
    }

    &__content{
        z-index: 1;
    }

    &__text {
        text-align: center;
        color: #FAFAFA;

        &__gradient {
            background: -webkit-linear-gradient(0deg, #1BDDB1, #1BC0DD);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        @media screen and (max-width: 512px) {
            font-size: 1.9rem;
        }
    }

    &__subtext {
        color: #fafafa;
        opacity: 35%;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
        max-width: 320px;
        margin: .5rem auto 1rem;
        text-align: center;
        
        @media screen and (max-width: 512px) {
            font-size: 1rem;
            margin-top: 1rem;
        }
    }
}