.quote {
    padding-top: calc(165rem / 16);
    min-height: 270px;

    @media screen and (max-width: 512px) {
        padding-top: calc(50rem / 16);
        min-height: unset;
    }

    .container {
        max-width: 1200px;
    }

    &__inner {
        q {
            color: #0d0d0d;
            font-size: calc(54rem / 16);
            line-height: 1.35;
            letter-spacing: -2.5%;
            font-weight: 400;
            width: 100%;

            @media screen and (max-width: 512px) {
                font-size: calc(22rem / 16);
            }

            span {
                display: inline-block;
            }
        }
        q:before, q:after{ content: "";}
    }
}
