.skills {
    padding-top: calc(150rem/16);

    @media screen and (max-width: 512px) {
        padding-top: calc(75rem/16);
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: calc(30rem / 16);
    }

    &__image {
        width: fit-content;
        height: fit-content;
    }
}
