.skills {
    padding-top: calc(175rem/16);

    @media screen and (max-width: 512px) {
        padding-top: calc(50rem / 16);
    }

    &__inner {
        display: flex;
        gap: 7.5rem;

        @media screen and (max-width: 512px) {
            display: grid;
            grid-template-columns: calc(50% - .5rem) calc(50% - .5rem);
            gap: 1rem;
        }
    }

    &__image {
        width: fit-content;
        height: fit-content;
        margin-right: 5rem;

        @media screen and (max-width: 512px) {
            width: 100%;

            img {
                display: block;
                width: auto;
                height: 40px;
            }
        }
    }
}
