.two-cols {
    padding-top: calc(100rem / 16);

    &__inner {
        display: flex;
        flex-direction: column;
        gap: calc(75rem / 16);

        
        @media screen and (max-width: 512px) { 
         gap: calc(42rem / 16);       
        }
    }

    &__subtitle {
            font-size: 1.25rem;
            font-weight: 600;
            font-style: italic;
            line-height: 1;
            color: #0d0d0d;
            opacity: 50%;
            display: block;
            width: 100%;
            border-bottom: 1px solid #0d0d0d;
            padding-bottom: 10px;
    }

    &__columns {
        display: grid;
        grid-template-columns: 300px 470px;
        row-gap: calc(27.5rem / 16);
        justify-content: space-between;

        
        @media screen and (max-width: 512px) { 
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__column {
        @media screen and (max-width: 512px) { 
            &.button {
                order: 4;
                padding-top: calc(25rem / 16);
            }
        }
    }

    &__title {
        h2 {
            font-weight: 300;
            font-size: calc(46rem / 16);
            line-height: 1;
            letter-spacing: -.5px;
        }

        
        @media screen and (max-width: 512px) { 
            padding-bottom: calc(25rem / 16);
        }
    }

    &__text {
        font-weight: medium;
        p {
            color: #0d0d0d;
            opacity: 50%;

            @media screen and (max-width: 512px) {
                opacity: 75%;
            }
        }
    }
}